<div class="box" data-sr='enter from the top and scale up 30% over 0.8s please'>
    <h5><strong>Instagram</strong></h5>

    <div class="instagram-img">
        <ul>
            <li>
                <a href="#"><img src="http://placehold.it/135x135" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="http://placehold.it/135x135" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="http://placehold.it/135x135" alt=""></a>
            </li>
            <li>
                <a href="#"><img src="http://placehold.it/135x135" alt=""></a>
            </li>
        </ul>
    </div>
    
</div>