{% load static %}

<div class="box bgr-red" data-sr='enter from the top and scale up 30% over 0.8s please'>
    <h5 style="color:white;"><strong>Bienvenue sur notre babyblog !</strong></h5>
    <p style="color:white;">Nous y contribuerons aussi fréquemment que possible pour vous faire partager notre nouvelle vie de famille :)
</div>

<div class="box" data-sr='enter from the top and scale up 30% over 0.8s please'>
    <h5><strong>Vous voulez nous suivre à partir de votre smartphone ?</strong></h5>
    <p>Téléchargez notre appli et envoyez-nous une demande de création de compte.</p>
    <br>
    <div class="instagram-img">
        <ul>
            <li style="padding-right: 5px;">
                <a href="https://play.google.com/store/apps/details?id=nicolasmura.fr" target="_blank"><img src="{% static 'babyblog/images/google-play.png' %}"></a>
            </li>
            <li style="padding-left: 5px;">
                <a href="https://itunes.apple.com/us/app/babyblog/id1200927529?l=fr&ls=1&mt=8" target="_blank"><img src="{% static 'babyblog/images/apple-store.png' %}"></a>
            </li>
        </ul>
    </div>    
</div>

<div class="box bgr-red" data-sr='enter from the top and scale up 30% over 0.8s please'>
    <h5 style="color:white;"><strong>Liste de naissance</strong></h5>
    <p style="color:white;">Pour celles et ceux qui souhaitent contribuer à l'accueil de la crapouillote, voici le lien vers notre <a href="http://www.mesenvies.fr/liste-naissance?r=27&aid=369950&lid=475638&lvs=1" target="_blank" style="border-bottom: 1px solid white; color:white;">liste de naissance</a>.</p>
</div>

<div class="box" data-sr='enter from the top and scale up 30% over 0.8s please'>
    <h5><strong>Les super-héros de ce blog</strong></h5>
    <div class="instagram-img">
        <ul>
            {% for user in user_list %}
            <li>
                {# <a href="#"><img src="{{ user.profile.avatar.url }}" alt=""></a> #}
                <img src="{{ user.profile.avatar.url }}" alt="">
            </li>
            {% endfor %}
        </ul>
    </div>
</div>