{% load static %}
<div class="masonary-box">

    <div class="box vertical-box" data-sr='enter from the top and scale up 30% over 0.8s please'>

        <div class="img-box">
            <div class="box-hover">
                <a href="{% url 'babyblog:post' %}" class="btn btn-medium ">View Details <span class="icon-arrow-right2"></span></a>
            </div>
            <!-- <img src="{% static 'babyblog/images/blog-img1.jpg' %}" alt=""> -->
            <img src="http://placehold.it/330x330" alt="">
            
        </div>
        <h3><a href="{% url 'babyblog:post' %}">Love is on Air</a></h3>
        <ul class="header-list">
            <li><a href="#">Retouching</a></li>
        </ul>                   
    </div>
    <div class="box vertical-box" data-sr='enter from the top and scale up 30% over 0.8s please'>

        <div class="img-box">
            <div class="box-hover">
                <a href="{% url 'babyblog:post' %}" class="btn btn-medium ">View Details <span class="icon-arrow-right2"></span></a>
            </div>
            <!-- <img src="{% static 'babyblog/images/blog-img2.jpg' %}" alt=""> -->
            <img src="http://placehold.it/330x330" alt="">
            
        </div>
        <h3><a href="{% url 'babyblog:post' %}">Summer Day 2014</a></h3>
        <ul class="header-list">
            <li><a href="#">Love</a></li>
            <li class="dot-divider"></li>
            <li><a href="#">Retouching</a></li>
        </ul>                   
    </div>
    <div class="box vertical-box" data-sr='enter from the top and scale up 30% over 0.8s please'>

        <div class="img-box">
            <div class="box-hover">
                <a href="#" class="btn btn-medium ">View Details <span class="icon-arrow-right2"></span></a>
            </div>
            <img src="http://placehold.it/330x330" alt="">
            
        </div>
        <h3><a href="#">Winter in NewYork</a></h3>
        <ul class="header-list">
            <li><a href="#">Manipulation</a></li>
        </ul>                   
    </div>
    <div class="box vertical-box" data-sr='enter from the top and scale up 30% over 0.8s please'>

        <div class="img-box">
            <div class="box-hover">
                <a href="#" class="btn btn-medium ">View Details <span class="icon-arrow-right2"></span></a>
            </div>
            <img src="http://placehold.it/330x330" alt="">
            
        </div>
        <h3><a href="#">One Winter Day</a></h3>
        <ul class="header-list">
            <li><a href="#">Single Photo</a></li>
        </ul>                   
    </div>
    <div class="box vertical-box" data-sr='enter from the top and scale up 30% over 0.8s please'>

        <div class="img-box">
            <div class="box-hover">
                <a href="#" class="btn btn-medium ">View Details <span class="icon-arrow-right2"></span></a>
            </div>
            <img src="http://placehold.it/330x330" alt="">
            
        </div>
        <h3><a href="#">Travel 2014/2105</a></h3>
        <ul class="header-list">
            <li><a href="#">Traveling</a></li>
        </ul>                   
    </div>
    <div class="box vertical-box" data-sr='enter from the top and scale up 30% over 0.8s please'>

        <div class="img-box">
            <div class="box-hover">
                <a href="#" class="btn btn-medium ">View Details <span class="icon-arrow-right2"></span></a>
            </div>
            <img src="http://placehold.it/330x330" alt="">
            
        </div>
        <h3><a href="#">Train is Coming</a></h3>
        <ul class="header-list">
            <li><a href="#">Shadows</a></li>
        </ul>                   
    </div>
    
</div>
