<div class="box p-50 comments" data-sr='enter from the top and scale up 30% over 0.8s please'>

    <h3 class="block text-center">3 Comments</h3>

    <ul>
        
        <li>

            <div class="flag flag--gutterless">
              <div class="flag__img">
                <div class="user-img">
                    <img src="http://placehold.it/50x50" alt="">
                </div>
              </div>
              <div class="flag__body">
                <h4>Milan Tomic</h4>
                <ul>
                    <li><h6>09 Oct 2014</h6></li>
                    <li><a href="#">Reply</a></li>
                </ul>
              </div>
            </div>

            <p>Neutra kitsch. Locavore pop-up church-key sriracha plaid, Neutra kitsch. Readymade cold-pressed normcore.</p>
            
        </li>

        <li>

            <div class="flag flag--gutterless">
              <div class="flag__img">
                <div class="user-img">
                    <img src="http://placehold.it/50x50" alt="">
                </div>
              </div>
              <div class="flag__body">
                <h4>Milan Tomic</h4>
                <ul>
                    <li><h6>09 Oct 2014</h6></li>
                    <li><a href="#">Reply</a></li>
                </ul>
              </div>
            </div>

            <p>Neutra kitsch. Locavore pop-up church-key sriracha plaid, Neutra kitsch. Readymade cold-pressed normcore.</p>


            <ul>

                <li>

                    <div class="flag flag--gutterless">
                      <div class="flag__img">
                        <div class="user-img">
                            <img src="http://placehold.it/50x50" alt="">
                        </div>
                      </div>
                      <div class="flag__body">
                        <h4>Milan Tomic</h4>
                        <ul>
                            <li><h6>09 Oct 2014</h6></li>
                            <li><a href="#">Reply</a></li>
                        </ul>
                      </div>
                    </div>

                    <p>Neutra kitsch. Locavore pop-up church-key sriracha plaid, Neutra kitsch. Readymade cold-pressed normcore.</p>
                    
                </li>

                <li>

                    <div class="flag flag--gutterless">
                      <div class="flag__img">
                        <div class="user-img">
                            <img src="http://placehold.it/50x50" alt="">
                        </div>
                      </div>
                      <div class="flag__body">
                        <h4>Milan Tomic</h4>
                        <ul>
                            <li><h6>09 Oct 2014</h6></li>
                            <li><a href="#">Reply</a></li>
                        </ul>
                      </div>
                    </div>

                    <p>Neutra kitsch. Locavore pop-up church-key sriracha plaid, Neutra kitsch. Readymade cold-pressed normcore.</p>
                    
                </li>
                
            </ul>
            
        </li>

    </ul>

    <div class="clearfix"></div>

    <div class="leave-comments text-center" style="padding: 0px;">
        
        <h3>Leave a Comment</h3>

        <form>
            <div class="main-form">
                <div>
                  <div class="cont1" ><input class="gray" placeholder="Name" type="text">
                  </div>
                  <div class="cont1"><input class="gray" placeholder="Email" type="text"></div>
                </div>
                <div>
                  <div class="cont2"><textarea placeholder="Your Message"></textarea></div>
                </div>
                <div class="clearfix"></div> 
            </div>

            <button type="submit" class="btn btn-medium m-t-0">Send Comment<span class="icon-arrow-right2"></span></button>
        </form>

    </div>

</div>