<div class="box p-50 text-center" data-sr='enter from the top and scale up 30% over 0.8s please'>

    <div class="user-info"> 

        <div class="user-img">

            <img src="http://placehold.it/50x50" alt="">
            
        </div>

        <h4><strong>Marina Doe</strong></h4>
        
    </div> 

    <p>Neutra kitsch. Locavore pop-up church-key sriracha plaid, Neutra kitsch. Readymade cold-pressed normcore.</p>

    <ul class="box-social">

        <li>
            <a href="#"><span class="icon-facebook"></span></a>
        </li>
        <li>
            <a href="#"><span class="icon-twitter"></span></a>
        </li>
        <li>
            <a href="#"><span class="icon-instagram"></span></a>
        </li>
        <li>
            <a href="#"><span class="icon-pinterest"></span></a>
        </li>
        <li>
            <a href="#"><span class="icon-googleplus"></span></a> 
        </li>
        <li>
            <a href="#"><span class="icon-rss"></span></a>
        </li>
        
    </ul>

</div>