{% load static %}
{% load bootstrap3 %}
<article>

    <div class="box p-10 avatar-box">
        <img src="{{ post.user.profile.avatar.url }}" alt="">
        <!-- <a href="#"><img src="{{ post.user.profile.avatar.url }}" alt=""></a> -->
    </div>

    <div class="box p-20 date-box text-center">
        <!-- <a href="#">{{ post.date|date:"d" }}</a> -->
        <a href="#">{{ post.date|date:"d" }}</a>
        <span class="block">{{ post.date|date:"b"|upper }}</span>
        <span class="block">{{ post.date.year }}</span>
    </div>
    <!-- <div class="box p-20">
        <ul class="social-list">
            <li>
                <a href="#"><span class="icon-facebook"></span></a>
            </li>
            <li>
                <a href="#"><span class="icon-twitter"></span></a>
            </li>
            <li>
                <a href="#"><span class="icon-pinterest"></span></a>
            </li>
            <li>
                <a href="#"><span class="icon-googleplus"></span></a>
            </li>
            <li>
                <a href="#"><span class="fa fa-linkedin"></span></a>
            </li>
        </ul>
    </div> -->
    
</article>

<div class="box p-50" >
        
    {% bootstrap_messages %}
    {% if post.image %}
    <div class="main-img">
        <img src="{{ post.image.url }}" alt="">
        <!-- <img src="http://placehold.it/670x410" alt=""> -->
        <!-- <img src="{% static 'babyblog/images/blog-img1.jpg' %}" alt=""> -->
    </div>
    {% endif %}

    <div class="text-center box-body"">
        
        <!-- <h2 class="heading--alpha">Famous Photographer From London Photo Seasion Photos 2014/2105 </h2> -->
        {% block header_list %}
            {# {% include 'babyblog/widgets/header_list.html' %} #}
        {% endblock header_list %} 

        <p class="first-letter text-left" style="margin-bottom: 0px;">
            <span>{{ post.get_first_letter }}</span>{{ post.without_first_letter }}
        </p>
        <br>
        {% if post.link %}
            <div class="text-left" style="overflow-wrap: break-word;">
                <a href="{{ post.link }}" target="_blank" style="border-bottom: 1px solid #898989;">{{ post.link }}</a>
            </div>
        {% endif %}

    </div>


    <!-- <div class="box-body-nav">

        <ul>
            <li>
                <a href="#">Fashion</a>
            </li>
            <li>
                <a href="#">Moda 2014</a>
            </li>
            <li>
                <a href="#">TV Show</a>
            </li>
        </ul>
        
    </div> -->

</div>