{% extends 'babyblog/base.html' %}
{% load static %}


{% block page_title %}
    {% include 'babyblog/widgets/page_title.html' with title='Babyblog' subtitle='The wall' %}
{% endblock page_title %}

{% block main_content %}
<section class="blog">

    <div class="row">

        <div class="col-sm-8">
            {% for post in object_list %}
                <div class="box box-flag" data-sr='enter from the top and scale up 30% over 0.8s please'>

                    <div class="flag flag--gutterless">

                    {% if post.image %}
                    <div class="flag__img">
                        <div class="img-box">
                            <div class="box-hover">
                                <a href="{% url 'babyblog:post' post.pk %}" class="btn btn-medium ">En détail <span class="icon-arrow-right2"></span></a>
                            </div>
                            <img src="{{ post.image.url }}" alt="">
                        </div>

                    </div>
                    {% endif %}
                    <div class="flag__body text-center">

                        <div class="box-body">
                            
                            <!-- <h2 class="heading--alpha"><a href="#">{{ post.title }}</a> </h2> -->
                            {% block header_list %}
                                {% include 'babyblog/widgets/header_list.html' with post=post %}
                            {% endblock header_list %} 

                            <p>{{ post.content }}</p>
                            {% if post.link %}
                                <a href="#" style="border-bottom: 1px solid #898989;">https://coderwall.com/p/mvsoyg/django-dumpdata-and-loaddata</a>
                            {% endif %}
                            {% if not post.image %}
                                <p><a href="{% url 'babyblog:post' post.pk %}" class="btn btn-medium m-t-0" style="margin-top: 10px!important;">En détail<span class="icon-arrow-right2"></span></a></p>
                            {% endif %}

                            <!-- <ul class="social-list">
                                <li>
                                    <a href="#"><span class="icon-facebook"></span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="icon-twitter"></span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="icon-pinterest"></span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="icon-googleplus"></span></a>
                                </li>
                                <li>
                                    <a href="#"><span class="fa fa-linkedin"></span></a>
                                </li>
                            </ul> -->

                        </div>
                        
                      </div>
                    </div>
                    
                </div>
            {% endfor %}
            {# {% include 'babyblog/widgets/load_more.html' %} #}
        </div>

        <div class="col-sm-4 sidebar">
            {% include 'babyblog/widgets/boxes.html' with user_list=user_list %}
        </div>

    </div>

</section>
{% endblock main_content %}